$color-grey:#1b3540;
$color-red:#e5555c;

body {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

.cta {
	font-weight: bold;
	padding:4px 25px;
	border:2px solid $color-grey;
	border-radius: 5px;
    margin-top: 5px;
    display: inline-block;
    &, &:hover, &:active, &:focus, &:visited {
		color:$color-grey;
	    text-decoration: none;
    }
}

header {
	background-color: white;
	padding:20px 0;
	p {
		margin: 0;
	}
	.logo {
		max-width: 100%;
		width:245px;
		height:32px;
		background-image: url(../img/datactivist.png);
		background-size: 240px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	@media screen and (max-width: 992px) {
		.logo {
			width:100%;
			margin-bottom: 20px;
		}
		p {
			text-align: center;
		}
	}
}

#open-data {
	background-color:#fef1eb;
	padding:150px 0;
	overflow: hidden;
	background-image: url(../img/bg-open.png);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	p {
		margin: 0;
	}
	h1 {
		font-weight: bold;
		color:#1b3540;
	    margin-top: 50px;
    	margin-bottom: 25px;
		strong {
			font-weight: 800;
			color:$color-red;
		}
		@media screen and (max-width: 400px) {
			padding:0 15px;
    		margin-top: 0;
		}
	}
	@media screen and (max-width: 400px) {
		padding:60px 0;
	}
}

#philosophie, #activite, #clients {
	h1 {
		text-transform: uppercase;
		margin-top:0;
		margin-bottom: 40px;
		font-weight: bold;
	}
}

#philosophie {
	background-color: white;
	padding-bottom:90px;
	@media screen and (max-width: 400px) {
		padding-bottom:40px;
	}
	.container {
		width:900px;
		max-width: 100%;
	}
	h1 {
		@media screen and (max-width: 400px) {
			margin-bottom:20px;
		}
	}
	.bg-philo {
		padding-top:90px;
		padding-left: 360px;
		background-size: 240px;
		background-image: url(../img/bg-philo.png);
		background-repeat: no-repeat;
		background-position: bottom left;
		@media screen and (max-width: 930px) {
			padding-left: 300px;
		}
		@media screen and (max-width: 740px) {
		    padding-left: 200px;
		    background-size: 180px;
		    background-position: 10px bottom;
		}
		@media screen and (max-width: 550px) {
		    padding-left: 15px;
		    background-image: none;
		}
		@media screen and (max-width: 400px) {
			padding-top:40px;
		}
	}
}

#activite {
	padding: 70px 0;
	@media screen and (max-width: 400px) {
		padding: 40px 0;
	}
	background-color: #282828;
	text-align: center;
	p, h1 {
		color:white;
	}
	@media screen and (max-width: 400px) {
		h1 {
			margin-bottom: 0;
		}
	}
	h2 {
		color:$color-red;
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 20px;
		font-weight: bold;
	}
	.img {
		height:170px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 95px;
	}
	.bg-conseil {
		background-image: url(../img/picto-conseil.png);
	}
	.bg-formation {
		background-image: url(../img/picto-formation.png);
	}
	.bg-mediation {
		background-image: url(../img/picto-mediation.png);
		background-size: 62px;
	}
	.container {
    	width: 1030px;
    	max-width: 100%;
	}
	.col-md-4 {
		padding-right: 20px;
		padding-left: 20px;
		@media screen and (max-width: 992px) {
			width:100%;
			max-width: 300px;
    		margin: 0 auto;
		}
	}
}

#clients {
	background-color: #e6e6e6;
	padding-top: 55px;
	padding-bottom: 85px;
	@media screen and (max-width: 400px) {
		padding: 40px 0;
	}
	.container {
    	width: 870px;
    	max-width:100%;
	}
	h1 {
		text-align:center;
		color:$color-red; 
	}
	.col-md-4 {
		div {
			box-shadow: 10px 10px 50px 0px rgba(5,6,6,0.34);
			min-height: 200px;
			width:220px;
			display: block;
			margin:0 auto;
			background-color: #282828;
			border-radius: 15px;
			padding:13px;
			h2 {
				margin:0;
				font-weight: bold;
				color:white;
				font-size: 24px;
    			margin-bottom: 10px
			}
			p {
				color:$color-red;
			}
		}
		@media screen and (max-width: 992px) {
    		margin-bottom: 20px;
		}
	}
}

#whoarewe {
	img {
		border-radius: 500px;
		width:140px;
		height:auto;
		filter: grayscale(100%);
		margin-bottom: 34px;
	}
	a {
		color:$color-red;
	}
	.col-md-6 {
		width:53%;
		.col-md-6 {
			width:50%;
			padding:0 30px;
			margin-top:140px;
			@media screen and (max-width: 992px) {
				width:50%;
				float:left;
				padding: 0 15px;
				margin-top: 40px;
				margin-bottom: 40px;
				img {
					margin-left:auto;
					margin-right:auto;
					display:block;
				}
			}
			@media screen and (max-width: 450px) {
				float:none;
				width:100%;
				margin-top: 25px;
				margin-bottom: 25px;
			}
		}
		@media screen and (max-width: 992px) {
			width:100%;
		}
	}
	.bg-who {
		width:47%;
		background-color: $color-red;
		background-image: url(../img/bg-who.png);
		background-size: 195px;
		background-position: 80% 101%;
		background-repeat: no-repeat;
		height:660px;
		position: relative;
		h1 {
			color:white;
			margin:0;
			text-align: right;
			font-size:95px;
			line-height:92px;
			font-weight: 800;
			text-transform: uppercase;
		    position: absolute;
		    right: 15%;
		    bottom: 35%;
		}
		@media screen and (max-width: 992px) {
			display:none;
		}
	}
	.title-for-mob {
		display:none;
		background-color: $color-red;
		margin:0;
		padding:40px 0;
		text-align: center;
		color:white;
		font-weight: bold;
		text-transform: uppercase;
	    font-size: 36px;
	    background-image: url(../img/bg-who.png);
		background-size: 80px;
		background-position: 90% 120%;
		background-repeat: no-repeat;
	    @media screen and (max-width: 992px) {
			display:block;
		}
	}
}

footer {
	padding:50px 0;
	@media screen and (max-width: 400px) {
		padding: 40px 0;
	}
	background-color: #282828;
	p {
		color:white;
		opacity: 0.2;
		font-weight: bold;
		margin:0;
		line-height:40px;
	}
	.logo {
		max-width: 100%;
		width:340px;
		height:40px;
		background-image: url(../img/datactivist-footer.png);
		background-size: 335px;
		background-position: center center;
		background-repeat: no-repeat;
		float:right;
	}
	@media screen and (max-width: 992px) {
		p {
			text-align: center;
		}
		.logo {
			width:100%;
			background-size:290px;
		}
	}
	@media screen and (max-width: 400px) {
		.logo {
			background-size:250px;
		}
	}
}