body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

.cta {
  font-weight: bold;
  padding: 4px 25px;
  border: 2px solid #1b3540;
  border-radius: 5px;
  margin-top: 5px;
  display: inline-block;
}

.cta, .cta:hover, .cta:active, .cta:focus, .cta:visited {
  color: #1b3540;
  text-decoration: none;
}

header {
  background-color: white;
  padding: 20px 0;
}

header p {
  margin: 0;
}

header .logo {
  max-width: 100%;
  width: 245px;
  height: 32px;
  background-image: url(../img/datactivist.png);
  -webkit-background-size: 240px;
  background-size: 240px;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  display:block;
}

@media screen and (max-width: 992px) {
  header .logo {
    width: 100%;
    margin-bottom: 20px;
  }

  header p {
    text-align: center;
  }
}
#open-data, #mentionslegales, #salondata {
  background-color: #fef1eb;
  padding: 150px 0;
  overflow: hidden;
  background-image: url(../img/bg-open.png);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

#open-data {
  text-align: center;
}

#open-data p {
  margin: 0;
}

#mentionslegales, #salondata {
  text-align: justify;
  p {
    padding-bottom: 90px;
  }
  .container {
    max-width: 100%;
    width: 900px;
  }
}

#salondata {
  text-align: justify;
  p {
    padding-bottom: 90px;
  }
  .container {
    max-width: 100%;
    width: 900px;
  }
}


#open-data h1, #mentionslegales h1, #salondata h1 {
  font-weight: bold;
  color: #1b3540;
  margin-top: 50px;
  margin-bottom: 25px;
}

#open-data h1 strong {
  font-weight: 800;
  color: #e5555c;
}

#mentionslegales h1 strong {
  font-weight: 800;
  color: #e5555c;
}

#salondata h1 strong {
  font-weight: 800;
  color: #e5555c;
}

@media screen and (max-width: 400px) {
  #open-data h1, #mentionslegales h1, #salondata h1 {
    padding: 0 15px;
    margin-top: 0;
  }
}
@media screen and (max-width: 400px) {
  #open-data, #mentionslegales, #salondata {
    padding: 60px 0;
    width: 900px;
  }
}


#philosophie h1, #activite h1, #clients h1, #error404 h1 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: bold;
}

#philosophie, #error404 {
  background-color: white;
  padding-bottom: 90px;
}

@media screen and (max-width: 400px) {
  #philosophie, #error404 {
    padding-bottom: 40px;
  }
}
#philosophie .container, #error404 .container {
  width: 900px;
  max-width: 100%;
}

@media screen and (max-width: 400px) {
  #philosophie h1, #error404 h1 {
    margin-bottom: 20px;
  }
}
#philosophie .bg-philo {
  padding-top: 90px;
  padding-left: 360px;
  -webkit-background-size: 240px;
  background-size: 240px;
  background-image: url(../img/bg-philo.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

#error404 .bg-philo {
  padding-top: 90px;
  padding-left: 100px;
  -webkit-background-size: 50px;
  background-size: 50px;
  background-image: url(../img/bg-philo.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

@media screen and (max-width: 930px) {
  #philosophie .bg-philo {
    padding-left: 300px;
  }
}
@media screen and (max-width: 930px) {
  #error404 .bg-philo {
    padding-left: 100px;
  }
}
@media screen and (max-width: 740px) {
  #philosophie .bg-philo {
    padding-left: 200px;
    -webkit-background-size: 180px;
    background-size: 180px;
    background-position: 10px bottom;
  }
}
@media screen and (max-width: 740px) {
  #error404 .bg-philo {
    padding-left: 15px;
    background-image: none;
  }
}
@media screen and (max-width: 550px) {
  #philosophie .bg-philo, #error404 .bg-philo {
    padding-left: 15px;
    background-image: none;
  }
}
@media screen and (max-width: 400px) {
  #philosophie .bg-philo, #error404 .bg-philo {
    padding-top: 40px;
  }
}
#activite {
  padding: 70px 0;
  background-color: #282828;
  text-align: center;
}

@media screen and (max-width: 400px) {
  #activite {
    padding: 40px 0;
  }
}
#activite p, #activite h1 {
  color: white;
}

@media screen and (max-width: 400px) {
  #activite h1 {
    margin-bottom: 0;
  }
}
#activite h2 {
  color: #e5555c;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
}

#activite .img {
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 95px;
  background-size: 95px;
}

#activite .bg-conseil {
  background-image: url(../img/picto-conseil.png);
}

#activite .bg-formation {
  background-image: url(../img/picto-formation.png);
}

#activite .bg-mediation {
  background-image: url(../img/picto-mediation.png);
  -webkit-background-size: 62px;
  background-size: 62px;
}

#activite .container {
  width: 1030px;
  max-width: 100%;
}

#activite .col-md-4 {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 992px) {
  #activite .col-md-4 {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
#clients {
  background-color: #e6e6e6;
  padding-top: 55px;
  padding-bottom: 85px;
}

@media screen and (max-width: 400px) {
  #clients {
    padding: 40px 0;
  }
}
#clients .container {
  width: 870px;
  max-width: 100%;
}

#clients h1 {
  text-align: center;
  color: #e5555c;
}

#clients .col-md-4 div {
  -webkit-box-shadow: 10px 10px 50px 0px rgba(5, 6, 6, 0.34);
  box-shadow: 10px 10px 50px 0px rgba(5, 6, 6, 0.34);
  min-height: 200px;
  width: 220px;
  display: block;
  margin: 0 auto;
  background-color: #282828;
  border-radius: 15px;
  padding: 13px;
}

#clients .col-md-4 div h2 {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

#clients .col-md-4 div p {
  color: #e5555c;
}

@media screen and (max-width: 992px) {
  #clients .col-md-4 {
    margin-bottom: 20px;
  }
}
#whoarewe img {
  border-radius: 500px;
  width: 140px;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-bottom: 34px;
}

#whoarewe a {
  color: #e5555c;
}

#whoarewe .col-md-6 {
  width: 53%;
}

#whoarewe .col-md-6 .col-md-6 {
  width: 50%;
  padding: 0 30px;
  margin-top: 140px;
}

@media screen and (max-width: 992px) {
  #whoarewe .col-md-6 .col-md-6 {
    width: 50%;
    float: left;
    padding: 0 15px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #whoarewe .col-md-6 .col-md-6 img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
@media screen and (max-width: 450px) {
  #whoarewe .col-md-6 .col-md-6 {
    float: none;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 992px) {
  #whoarewe .col-md-6 {
    width: 100%;
  }
}
#whoarewe .bg-who {
  width: 47%;
  background-color: #e5555c;
  background-image: url(../img/bg-who.png);
  -webkit-background-size: 195px;
  background-size: 195px;
  background-position: 80% 101%;
  background-repeat: no-repeat;
  height: 1495px;
  position: relative;
}

#whoarewe .bg-who h1 {
  color: white;
  margin: 0;
  text-align: right;
  font-size: 95px;
  line-height: 92px;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  right: 15%;
  bottom: 35%;
}

@media screen and (max-width: 992px) {
  #whoarewe .bg-who {
    display: none;
  }
}
#whoarewe .title-for-mob {
  display: none;
  background-color: #e5555c;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  background-image: url(../img/bg-who.png);
  -webkit-background-size: 80px;
  background-size: 80px;
  background-position: 90% 120%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  #whoarewe .title-for-mob {
    display: block;
  }
}
footer {
  padding: 50px 0;
  background-color: #282828;
}

@media screen and (max-width: 400px) {
  footer {
    padding: 40px 0;
  }
}
footer p {
  color: white;
  opacity: 0.2;
  font-weight: bold;
  margin: 0;
  line-height: 40px;
}

footer .logo {
  max-width: 100%;
  width: 340px;
  height: 40px;
  background-image: url(../img/datactivist-footer.png);
  -webkit-background-size: 335px;
  background-size: 335px;
  background-position: center center;
  background-repeat: no-repeat;
  float: right;
}

@media screen and (max-width: 992px) {
  footer p {
    text-align: center;
  }

  footer .logo {
    width: 100%;
    -webkit-background-size: 290px;
    background-size: 290px;
  }
}
@media screen and (max-width: 400px) {
  footer .logo {
    -webkit-background-size: 250px;
    background-size: 250px;
  }
}
